<!-- <textarea rows="6" [value]="'avocado'" #postInput></textarea>
<textarea rows="6" [(ngModel)]="newPost"></textarea>
<hr />
<p>{{ newPost }}</p>
-->

<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field class="input-container">
      <mat-label>Favorite food</mat-label>
      <input
        name="title"
        type="text"
        appearance="fill"
        ngModel
        matInput
        placeholder="Ex. Pizza"
      />
    </mat-form-field>

    <mat-form-field class="textarea-container" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea
        name="content"
        ngModel
        matInput
        placeholder="Ex. It makes me feel..."
      ></textarea>
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent">Save</button>
  </form>
</mat-card>
