<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field class="input-container">
      <mat-label>Favorite food</mat-label>
      <div *ngIf="postId === 'create'"></div>
      <input
        name="title"
        ngModel
        matInput
        #title="ngModel"
        type="text"
        appearance="fill"
        placeholder="Ex. Pizza"
        required
      />
      <div *ngIf="postId === 'edit'"></div>
      <input
        name="title"
        ngModel
        matInput
        #title="ngModel"
        type="text"
        appearance="fill"
        value="{{ editContent }}"
        placeholder="Ex. Pizza"
        required
      />
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>

    <mat-form-field class="textarea-container" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea
        name="content"
        ngModel
        matInput
        #content="ngModel"
        placeholder="Ex. It makes me feel..."
        required
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent">Save</button>
  </form>
</mat-card>
